@page "/"

<PageTitle>Countdown</PageTitle>

@* <p class="text-black font-bold">Time until @string.Format("{0:MMMM d, yyyy}", @targetDate)
    <p>@difference.Days days, @difference.Hours hours, @difference.Minutes minutes, @difference.Seconds seconds</p>
</p>

<button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2" @onclick="CalculateDifference">
    Update
</button> *@

<div class="py-8 px-8 max-w-112 mx-auto bg-white rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
  <img class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0" src="/images/1.jpg" alt="Woman's Face" />
  <div class="text-center space-y-2 sm:text-left">
    <div class="space-y-0.5">
      <p class="text-lg text-black font-semibold">
        Time until @string.Format("{0:MMMM d, yyyy}", @targetDate)
      </p>
      <p class="text-slate-500 font-medium">
        @difference.Days days, @difference.Hours hours, @difference.Minutes minutes, @difference.Seconds seconds
      </p>
    </div>
    <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2" @onclick="CalculateDifference">Update</button>
  </div>
</div>


@code{
    private DateTime targetDate = new DateTime(2027, 5, 29, 0, 0, 0);
    private DateTime currentDate = DateTime.Now;
    private TimeSpan difference;

        protected override void OnInitialized()
        {
            CalculateDifference();
        }

        private void CalculateDifference()
        {
            currentDate = DateTime.Now;
            difference = targetDate - currentDate;
        }
}
