@page "/"

<PageTitle>Countdown</PageTitle>

<p class="text-black font-bold">Time until @string.Format("{0:MMMM d, yyyy}", @targetDate)
    <p>@difference.Days days, @difference.Hours hours, @difference.Minutes minutes, @difference.Seconds seconds</p>
</p>

<button class="bg-purple-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" @onclick="CalculateDifference">
    Update
</button>


@code{
    private DateTime targetDate = new DateTime(2027, 5, 29, 0, 0, 0);
    private DateTime currentDate = DateTime.Now;
    private TimeSpan difference;

        protected override void OnInitialized()
        {
            CalculateDifference();
        }

        private void CalculateDifference()
        {
            currentDate = DateTime.Now;
            difference = targetDate - currentDate;
        }
}
